{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="container">

    <p><strong>Subject ID:</strong> {{ subject.subject_id }}</p>
    <p><strong>Site:</strong> {{ request.user.staff_profile.site }}</p>
    <p><strong>Sex:</strong> {{ subject.sex.name }}</p>

    <h3>
        {% if is_update %}
        Update Enrollment
        {% else %}
        Create Enrollment
        {% endif %}
    </h3>
    <hr>

    <div class="card">
        <div class="card-body">

            <form method="post" novalidate>
                {% csrf_token %}
                <hr>

                <!-- GLOBAL ERRORS -->
                {% for field in form %}
                {% if field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ field.label }}:</strong> {{ field.errors|striptags }}
                </div>
                {% endif %}
                {% endfor %}
                <hr>

                <!-- ===================== -->
                <!-- BASIC INFO -->
                <!-- ===================== -->
                <h5>Enrollment Info</h5>
                <hr>

                <div class="row">
                    <div class="col-md-4">
                        {{ form.enrollment_date.label_tag }}
                        {{ form.enrollment_date }}
                    </div>

                    <div class="col-md-4">
                        {{ form.pt_category.label_tag }}
                        {{ form.pt_category }}
                    </div>

                    <div class="col-md-4">
                        {{ form.pt_type.label_tag }}
                        {{ form.pt_type }}
                    </div>
                </div>

                <hr>

                <!-- ===================== -->
                <!-- NEW TREATMENT -->
                <!-- ===================== -->
                <h5>New Treatment</h5>
                <hr>

                <div class="row">
                    <div class="col-md-6" id="new-treatment-wrapper">
                        {{ form.treatment_type.label_tag }}
                        {{ form.treatment_type }}
                    </div>

                    <div class="col-md-6" id="new-date-wrapper">
                        {{ form.treatment_date.label_tag }}
                        {{ form.treatment_date }}
                    </div>
                </div>

                <hr>

                <!-- ===================== -->
                <!-- PREVIOUS TREATMENT -->
                <!-- ===================== -->
                <h5>Previous Treatment</h5>
                <hr>

                <div class="row">
                    <div class="col-md-6" id="previous-treatment-wrapper">
                        {{ form.previous_treatment.label_tag }}
                        {{ form.previous_treatment }}
                    </div>

                    <div class="col-md-6" id="previous-date-wrapper">
                        {{ form.previous_date.label_tag }}
                        {{ form.previous_date }}
                    </div>
                </div>
                <hr>
                <!-- ===================== -->
                <!-- CYCLES -->
                <!-- ===================== -->
                <h5>Cycles</h5>
                <hr>

                <div class="row">
                    <div class="col-md-6">
                        {{ form.total_cycle.label_tag }}
                        {{ form.total_cycle }}
                    </div>

                    <div class="col-md-6">
                        {{ form.cycle_number.label_tag }}
                        {{ form.cycle_number }}
                    </div>
                </div>

                <hr>

                <!-- ===================== -->
                <!-- Remarks -->
                <!-- ===================== -->
                <div class="row">
                    <div class="col-md-12">
                        {{ form.remarks.label_tag }}
                        {{ form.remarks }}
                    </div>
                </div>

                <br>

                <button class="btn btn-success">
                    {% if is_update %} Update {% else %} Save {% endif %} Enrollment
                </button>

                <a href="{% url 'herbal:subjects-detail' subject.pk %}" class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/enrollments/sex.js' %}"></script>
<script src="{% static 'js/enrollments/consent.js' %}"></script>
<script src="{% static 'js/enrollments/nimregenin.js' %}"></script>
{% endblock %}