{% extends "base.html" %}

{% block content %}

<div class="container">
    <p><strong>Site:</strong> {{ request.user.staff_profile.site }}</p>
    <h3>Create Subject</h3>

    <div class="card">

        <div class="card-body">

            <form method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-primary">
                    Save Subject
                </button>

                <a href="{% url 'herbal:subjects-list' %}" class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}